body {
    padding-top: 70px;
}

.dropdown .glyphicon {
    left: -10px;
}

.navbar-brand {
    margin-left: 15px;
}

.listItem {
    .clearfix();
    
    border: 1px solid @gray-lighter - 10;
    border-top: 0;
    
    padding-top: 10px;
    padding-bottom: 10px;
    
    &:first-child {
        border-top: 1px solid @gray-lighter - 10;
        border-top-right-radius: @border-radius-base;
        border-top-left-radius: @border-radius-base;
    }
    
    &:hover {
        background-color: @gray-lighter + 10;
        .action-text { color: @gray-light; }
    }
    
    .listItem-footer {
        float: right;
        width: 100%;
    }
    
    .actions {
        float: right;
        margin: 0;
    }
    .actions li {
        float: left;
        list-style: none;
        margin-left: 10px;
    }
    
    .action-text {
        color: @gray-lighter - 10;
        &:hover {
            cursor: pointer;
            color: @gray;
        }
    }
    
    .title {
        float: left;
    }
    
    .userPhoto {
        float: left;
        width: 64px;
        height: 64px;
        border-radius: @border-radius-base * 2;
        margin-right: 10px;
    }
}